// Clearfix extend

%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// Light text extend

%text-light {
    @include text(1.05rem, $color-text-light);
}
