// Clearfix extend

%clearfix {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// Light text extend

%text-light {
    font-size: 1.05rem;
    color: $color-text-light;
}
