// Text mixin

@mixin text($font-size: null, $color: null, $font-weight: null, $line-height: null) {
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
    font-weight: $font-weight;
}

// Margin, max-width, width mixin

@mixin max-width($margin: null, $max-width: null, $width: null) {
    margin: $margin;
    max-width: $max-width;
    width: $width;
}

// Margin, width, mixin

@mixin width($margin: null, $width: null) {
    margin: $margin;
    width: $width;
}

// Padding, margin, border, radius mixin

@mixin box($margin: null, $padding: null, $border: null, $radius: null) {
    margin: $margin;
    padding: $padding;
    border: $border;
    border-radius: $radius;
}
